body {
    margin: 0px;
    background-color: aqua;
}

#content {
    padding-top: 0px;
}

nav {
    margin: 0px;
}

.navbar-brand {
    padding-left: 10px;
}

.navbar-div {
    margin: 0;
    width: 100%;
}

.nav-subdiv-right {
    padding-left: 7%;
    padding-right: 10px;
}

#dropdown-button-left {
    padding-right: 0;
}

#dropdown-button-right {
    padding-left: 6px;
}

#collapseExample {
    top: 50px;
}

#topmost-div {
    padding-top: 65px;
}