<header>  
    <nav class="navbar" role="navigation">  
        <div>  
            <a href="/"><strong>Somos Bridges en {{ i18n "mexico" }} </strong></a>
        </div>
        <div>
            <a href="/">Home ({{ .Lang }})</a>
            <a href="{{ relLangURL `/services` }}">Services</a>
            <a href="{{ relLangURL `/contact` }}">Contact Us</a>
            <ul>
                {{ range .Translations }}
                <li>
                  <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}</a>
                </li>
                {{ end }}
              </ul>
        </div>  
    </nav>  
    <div>
        {{ range site.Menus.main }}
            <p>{{ .Name }}</p>
        {{ end }}
    </div>
</header>