<header>
    <div class="fixed-top">
        <nav class="navbar navbar-expand bg-light" role="navigation">   
            <div class="d-flex justify-content-between navbar-div">
                <a class="navbar-brand me-auto" href="{{ relLangURL `/` }}"><strong>Somos Bridges en {{ i18n "mexico" }} </strong></a>
                <div class="nav-subdiv-left">
                    <ul class="navbar-nav mr-auto">
                        {{ range site.Menus.main }}
                            {{ $url := .URL }}
                            {{ $name := .Name }}
                            {{ with .Children }}
                                <li class="nav-item">
                                    <div class="btn-group">
                                        <a class="nav-link" id="dropdown-button-left" href="{{ $url }}">{{ $name }}</a>
                                        <a class="nav-link dropdown-toggle" id="dropdown-button-right" href="#collapsableMenuServices" role="button" data-bs-toggle="collapse"></a>
                                    </div>
                                </li>
                            {{ else }}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                                </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
                <div class="nav-subdiv-right">
                    <ul class="navbar-nav mr-auto">
                        {{ range .Translations }}
                            {{ $language := cond (eq .Lang "en") "English" "Español" }}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ .Permalink }}">{{ $language }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="collapse" id="collapsableMenuServices">
            {{ range site.Menus.main }}
                {{ $url := .URL }}
                {{ $name := .Name }}
                {{ with .Children }}
                <ul class="navbar-nav">
                    {{ range . }}
                        <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                {{ end }}
            {{ end }}
            </ul>
        </div>
    </div>
    <div id="topmost-div"></div>
</header>