<header>  
    <nav class="navbar navbar-expand fixed-top bg-light" role="navigation">   
        <div class="d-flex justify-content-between navbar-div">
            <a class="navbar-brand me-auto" href="{{ relLangURL `/` }}"><strong>Somos Bridges en {{ i18n "mexico" }} </strong></a>
            <div class="nav-subdiv-left">
                <ul class="navbar-nav mr-auto">
                    {{ range site.Menus.main }}
                        {{ $url := .URL }}
                        {{ $name := .Name }}
                        {{ with .Children }}
                            <li class="nav-item dropdown-element">
                                <div class="btn-group">
                                <a class="nav-link" id="dropdown-button-left" href="{{ $url }}">{{ $name }}</a>
                                <a class="nav-link dropdown-toggle dropdown-toggle-split" id="dropdown-button-right" href="#" role="button" data-bs-toggle="dropdown">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </a>
                                <ul class="dropdown-menu">
                                    {{ range . }}
                                        <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                                    {{ end }}
                                </ul>
                                </div>
                            </li>
                        {{ else }}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div class="nav-subdiv-right">
                <ul class="navbar-nav mr-auto">
                    {{ range .Translations }}
                        {{ $language := cond (eq .Lang "en") "English" "Español" }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Permalink }}">{{ $language }}</a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>
</header>